version: '3.8'
services:
  recommendation:
    build: .
    container_name: recommendation
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - dynamodb
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb-local
    ports:
      - "8001:8000"
    command: "-jar DynamoDBLocal.jar -inMemory -sharedDb"
